body {
    background-color:black
}

div {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-family: Arial, Helvetica, sans-serif
}

ul {
  font-family: Arial, Helvetica, sans-serif
}
p {
  font-family: Arial, Helvetica, sans-serif
}
